@import "~bootstrap/scss/bootstrap.scss";

.container {
    background-color: black;
    display: flex;
    justify-content: center;
}

.box {
    text-align: center;
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: 60px;
    border: 1px solid grey;
}